## Importing the necesssary libraries and loading the dataset:
---

In [68]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import warnings
warnings.filterwarnings('ignore')

#   Initialize the Spark session
spark = SparkSession.builder \
    .master("local") \
    .appName("Exercise3") \
    .getOrCreate()

df = spark.read.format('org.apache.spark.sql.json') \
        .load("icc_results.json")

## Fetching the description column from the JSON filr :
---

In [70]:
match_s = df.select('scheduleentry.description')
match_s.show()

+-----------+
|description|
+-----------+
|       null|
|   1st Test|
|   2nd Test|
|   1st Test|
|   3rd T20I|
|   2nd T20I|
|   1st T20I|
|   1st Test|
|   2nd Test|
|    3rd ODI|
|   3rd T20I|
|    2nd ODI|
|   2nd T20I|
|    1st ODI|
|   1st T20I|
|   1st Test|
|    3rd ODI|
|   3rd T20I|
|   3rd T20I|
|   2nd T20I|
+-----------+
only showing top 20 rows

## Splitting the string in 'description' column above to get the mode of match :
---

In [71]:
mode = match_s.withColumn('mode', split(match_s['description'], ' ').getItem(1))
mode= mode.drop('description')
mode.show(200)

+------+
|  mode|
+------+
|  null|
|  Test|
|  Test|
|  Test|
|  T20I|
|  T20I|
|  T20I|
|  Test|
|  Test|
|   ODI|
|  T20I|
|   ODI|
|  T20I|
|   ODI|
|  T20I|
|  Test|
|   ODI|
|  T20I|
|  T20I|
|  T20I|
|   ODI|
|  T20I|
|  T20I|
|  T20I|
|   ODI|
|  T20I|
|  T20I|
|  T20I|
|   ODI|
|   ODI|
|   ODI|
|     4|
|     3|
|     2|
|     1|
|  T20I|
|  T20I|
|  T20I|
|  T20I|
|   ODI|
|   ODI|
|   ODI|
|  T20I|
|  T20I|
|  T20I|
|  T20I|
|  T20I|
|     6|
|     5|
|     4|
|     3|
|     2|
|  T20I|
|     1|
|  T20I|
|  Test|
|  Test|
|  Test|
|   ODI|
|   ODI|
|   ODI|
|  Test|
|  Test|
|  T20I|
|  T20I|
|   ODI|
|  Test|
|   ODI|
|   ODI|
|   ODI|
|   ODI|
|  T20I|
|   ODI|
|  T20I|
|  T20I|
|  T20I|
|  Test|
|  T20I|
|   ODI|
|  Test|
|  T20I|
|  T20I|
|  T20I|
|  T20I|
|  T20I|
|   ODI|
|   ODI|
|   ODI|
|   ODI|
|   ODI|
|    36|
|   ODI|
|    35|
|    34|
|  T20I|
|  Test|
|    33|
|  T20I|
|    32|
|  T20I|
|   ODI|
|    31|
|  T20I|
|   ODI|
|   ODI|
|  T20I|
|  T20I|
|  T20I|
|  Test|
|  T20I|
|  T20I|
|  T20I|
|   ODI|
|  Test|
|   ODI|
|   ODI|
|   ODI|
|  T20I|
|  T20I|
|  T20I|
|  T20I|
|  T20I|
|  T20I|
|   ODI|
|  T20I|
|  T20I|
|   ODI|
|    10|
|     9|
|  T20I|
|   ODI|
|     8|
|     7|
|   ODI|
|     6|
|     5|
|   ODI|
|   ODI|
|     4|
|     3|
|     2|
|   ODI|
|     1|
|  Test|
|  null|
|  T20I|
|  T20I|
|   ODI|
| Final|
| Final|
|  T20I|
|    11|
|    12|
|     9|
|    10|
|  T20I|
|     7|
|     8|
|  T20I|
|     5|
|     6|
|  T20I|
|  T20I|
|     3|
|     4|
|     1|
|     2|
|  T20I|
|   ODI|
|  Test|
|  T20I|
|  T20I|
|  T20I|
|  Test|
|  T20I|
|  T20I|
|  T20I|
|   T20|
|  T20I|
|  T20I|
|  T20I|
|  T20I|
|    30|
|    29|
|   ODI|
|   ODI|
|League|
|    28|
| Place|
|    27|
|   ODI|
|   ODI|
| Place|
|  Test|
|League|
|    26|
| Place|
|    25|
|   ODI|
|   ODI|
+------+
only showing top 200 rows

## Loading the matchId column to fetch out the year :
---

In [72]:
match_id = df.select('scheduleEntry.matchId.name')
match_id.show()

+--------------------+
|                name|
+--------------------+
|                null|
|    sa-sl-2020-21-01|
|  aus-ind-2020-21-08|
|   nz-pak-2020-21-04|
|   nz-pak-2020-21-03|
|   nz-pak-2020-21-02|
|   nz-pak-2020-21-01|
|  aus-ind-2020-21-07|
|       nz-wi-2020-05|
|south africa nove...|
|  aus-ind-2020-21-06|
|south africa nove...|
|  aus-ind-2020-21-05|
|south africa nove...|
|  aus-ind-2020-21-04|
|       nz-wi-2020-04|
|  aus-ind-2020-21-03|
|south africa nove...|
|       nz-wi-2020-03|
|south africa nove...|
+--------------------+
only showing top 20 rows

## Splitting the string in the 'match_id' column above tp fetch out the year the match was played :
---

In [73]:
year = match_id.withColumn('Year', split(match_id['name'], '-').getItem(2))
year= year.drop('name')

year.show(200)

+----+
|Year|
+----+
|null|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2019|
|2020|
|2019|
|2019|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2020|
|2019|
|2020|
|2019|
|2020|
|2020|
|2019|
|2020|
|2020|
|2020|
|2019|
|null|
|2020|
|null|
|2020|
|2020|
|2019|
|null|
|2020|
|null|
|2020|
|null|
|2020|
|2020|
|2019|
+----+
only showing top 200 rows

## Merging both the columns obtained to get a dataframe of the mode of match and the year it was played in and also seperating the ODI and Test matches:
---

In [63]:
mode = mode.withColumn("id", monotonically_increasing_id())
year = year.withColumn("id", monotonically_increasing_id())

resultdf = mode.join(year, "id", "outer").drop("id")
resultdf=resultdf.dropna()
odidf= resultdf.filter(resultdf.mode == 'ODI')
testdf=resultdf.filter(resultdf.mode == 'Test')

odidf.show()
testdf.show()

+----+----+
|mode|Year|
+----+----+
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
| ODI|2020|
+----+----+
only showing top 20 rows

+----+----+
|mode|Year|
+----+----+
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
|Test|2020|
+----+----+
only showing top 20 rows

## Total number of ODIs played each year :
---

In [80]:
odicount= odidf.groupBy("Year").count()
odicount=odicount.withColumnRenamed("count","Number of ODIs")

odicount.show()

+----+--------------+
|Year|Number of ODIs|
+----+--------------+
|2016|            78|
|2020|            50|
|2012|            15|
|2019|            78|
|2017|            88|
|2014|            92|
|2013|            78|
|2018|            84|
|  53|             1|
|  49|             1|
|2015|            87|
|   2|            20|
+----+--------------+

## Total number of Test matches played each year:
---

In [81]:
testcount= testdf.groupBy("Year").count()
testcount=testcount.withColumnRenamed("count","Number of Tests")

testcount.show()

+----+---------------+
|Year|Number of Tests|
+----+---------------+
|2016|             46|
|2020|             23|
|2012|             12|
|2019|             38|
|2017|             43|
|2014|             41|
|2013|             37|
|2018|             50|
|2015|             46|
|   2|              4|
+----+---------------+

## Performing an outer join to evalute the number of ODIs and Tests played each year:
--

In [84]:
finaldf = odicount.join(testcount,"Year",'outer')

In [85]:
finaldf.show()

+----+--------------+---------------+
|Year|Number of ODIs|Number of Tests|
+----+--------------+---------------+
|   2|            20|              4|
|2012|            15|             12|
|2013|            78|             37|
|2014|            92|             41|
|2015|            87|             46|
|2016|            78|             46|
|2017|            88|             43|
|2018|            84|             50|
|2019|            78|             38|
|2020|            50|             23|
|  49|             1|           null|
|  53|             1|           null|
+----+--------------+---------------+