## Importing necessary libraries, Initializing the spark session and Loading the dataset :
----

In [56]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder \
    .master("local") \
    .appName("Exercise1") \
    .getOrCreate()

df = spark.read.format('org.apache.spark.sql.json') \
        .load("icc_results.json")

## Creating a tally of matches played by each team :
----

In [57]:
teamA= df.select("scheduleEntry.team1.team.fullName").groupBy('fullName').count()\
.orderBy(['fullName'], ascending = [False]).dropna().withColumnRenamed("count","CountA")

teamB= df.select("scheduleEntry.team2.team.fullName").groupBy('fullName').count()\
.orderBy(['fullName'], ascending = [False]).dropna().withColumnRenamed("count","CountB")

finaldf = teamA.join(teamB,"fullName")
finaldf = finaldf.withColumn('Total Matches Played', finaldf.CountA + finaldf.CountB).drop('CountA','CountB')\
.orderBy(['Total Matches Played'], ascending = [False])

finaldf.show(3)

+---------+--------------------+
| fullName|Total Matches Played|
+---------+--------------------+
|    India|                 463|
|  England|                 443|
|Australia|                 439|
+---------+--------------------+
only showing top 3 rows

## Finding team that has played the most matches
-----

In [53]:
print('The most number of matches were played by {}'.format(finaldf.collect()[0][0]),':',finaldf.collect()[0][1])

The most number of matches were played by India : 463