## Importing the neessary libraries and loading the dataset:
--

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import warnings
warnings.filterwarnings('ignore')

#   Initialize the Spark session
spark = SparkSession.builder \
    .master("local") \
    .appName("Exercise4") \
    .getOrCreate()

df = spark.read.format('org.apache.spark.sql.json') \
        .load("icc_results.json")

23/01/19 12:17:26 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

## Performing the groupby function and sorting the dataframe in descending order to get the country that hosted most matches :
---

In [27]:
venue=df.select('scheduleentry.venue.country')
gdf_venue= venue.groupBy('country').count().sort(desc('count'))
gdf_venue.show()

+----------------+-----+
|         country|count|
+----------------+-----+
|         England|  383|
|             UAE|  371|
|    South Africa|  353|
|           India|  317|
|     New Zealand|  287|
|      Bangladesh|  240|
|       Australia|  213|
|     West Indies|  195|
|        Malaysia|  180|
|       Sri Lanka|  167|
|        Zimbabwe|  154|
|     Netherlands|  127|
|         Namibia|   91|
|            Oman|   78|
|        Scotland|   68|
|Northern Ireland|   59|
|        Pakistan|   58|
|         Ireland|   57|
|        Thailand|   55|
|          Jersey|   48|
+----------------+-----+
only showing top 20 rows

In [25]:
print('The country to host the most number of matches was {}'.format(gdf_venue.collect()[0][0]),':',gdf_venue.collect()[0][1])

The country to host the most number of matches was England : 383